<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>

    <%- include("./partials/nav.ejs") %>

        <div class="about content">

            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut eos maiores tempora ipsa similique tenetur?
                Autem, odio! Placeat culpa corporis labore aspernatur illum, ad alias minima aut ipsum laboriosam sit.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium maiores eius nemo, dolorum dolor
                magnam voluptatum voluptatibus rerum iusto fugit, consequatur odio, quaerat cupiditate obcaecati! Earum
                dignissimos suscipit eius enim.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia ratione quasi fuga non, aspernatur ut
                laborum error ab fugiat cum quas totam eaque delectus dolor repellat. Deserunt tenetur quas quos?</p>

        </div>

        <%- include("./partials/footer.ejs") %>

</body>

</html>